<!-- templates/products/create.html -->
{% extends 'core/inner-page.html' %}
{% load static %}

{% block title %}
    Crear Productos - CAA
{% endblock title %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Crear Productos</h2>
                <ol>
                    <li><a href="{% url 'core:home' %}">Inicio</a></li>
                    <li>Crear</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    
    <div class="col-lg-6 mt-5 mt-lg-0">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Guardar Producto</button>
        </form>
    </div>
</main><!-- End #main -->

<script>
    function toggleDesplegable(span) {
        var contenido = span.nextElementSibling;
        contenido.style.display = (contenido.style.display === "block") ? "none" : "block";
    }
</script>
<script src="{% static 'core/assets/js/main.js' %}"></script>

{% endblock content %}
