{% extends 'core/inner-page.html' %}
{% load static %}

  <title>
    {% block title2 %}
      Detalles de Producto - CAA
    {% endblock title2 %}   

  {% block content %}
    <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

          <div class="d-flex justify-content-between align-items-center">
            <h2>Detalles de Producto</h2>
            <ol>
              <li><a href="{% url 'core:home' %}">Inicio</a></li>
              <li>Detalles Productos</li>
            </ol>
          </div>

        </div>
      </section><!-- End Breadcrumbs -->

      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-8" style="text-align: center;">
              <img src="{{ producto.imagen.url }}" alt="Imagen del producto" style="padding-bottom: 20px; width: 85%; height: auto;">
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Informacion del Producto</h3>
                  <ul>
                      <li><strong>Marca</strong>: {{ producto.marca }}</li>
                      <li><strong>Modelo</strong>: {{ producto.modelo }}</li>
                      <li><strong>Precio</strong>: ${{ producto.precio }}</li>
                      {% if producto.diametro %}
                          <li><strong>Diámetro</strong>: {{ producto.diametro }}"</li>
                          <li><strong>Medida del centro</strong>: {{ producto.medida_centro }}</li>
                      {% elif producto.altura %}
                          <li><strong>Altura</strong>: {{ producto.altura }}cm</li>
                      {% endif %}
                  </ul>
                  <div style="text-align: center; padding-top: 13px;">
                    <a href="#" class="button-cart" style="font-size: 17px;"><i class="fas fa-shopping-cart" style="color: #ffbb38;"></i> Añadir al Carrito</a>
                  </div>
              </div>
              <div class="portfolio-description">
                <h2>Descripción</h2>
                <p>
                  {{producto.descripcion}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
  {% endblock content %}