{% extends 'core/inner-page.html' %}
{% load static %}

{% block title %}
    Productos - Spoilers
{% endblock title %}

{% block content %}
<main id="main">

    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Spoilers</h2>
                <ol>
                    <li><a href="{% url 'core:home' %}">Inicio</a></li>
                    <li>Spoilers</li>
                </ol>
            </div>
        </div>
    </section>

    {% if user.is_authenticated and user.is_staff %}
    <div class="text-center" style="margin-top: 10px;">
        <a href="{% url 'products:create_spoiler' %}" class="boton-create">Crear Producto</a>
    </div>
    {% endif %}

    <section class="inner-page">
        <div class="container">
            <form action="{% url 'products:spoiler' %}" method="get">
                <input type="text" name="q" placeholder="Buscar productos...">
                <button type="submit">Buscar</button>
            </form>
            <div class="row" style="padding-top: 25px;">
                {% for spoiler in spoilers %}
                    <div class="col-md-4 mb-4">
                        <div class="card" style="border: 2px solid #343a40;">
                            <div class="card-body" style="max-height: 330px;">
                                <img src="{{ spoiler.imagen_url }}" alt="Imagen del spoiler" style="padding-bottom: 20px;">
                                <h5 class="card-title">{{ spoiler.marca }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ spoiler.modelo }}</h6>
                                <p class="card-text">ID: {{ spoiler.id }}</p>
                                <p class="card-price">Precio: {{ spoiler.precio }}$</p>
                                <div id="boton" style="text-align: center; padding-bottom: 13px;">
                                    <a href="{% url 'products:detalle_spoiler' spoiler.id %}" class="boton-create">Más detalles</a>
                                </div>
                            </div>
                            {% if user.is_authenticated and user.is_staff %}
                            <div style="border-top: 2px solid #343a40; padding: 13px 0px; text-align: center;">
                                <a href="{% url 'products:update_spoiler' spoiler.id %}" class="btn btn-primary">Modificar Producto</a>
                                <button type="button" class="btn btn-danger" onclick="confirmDeletion('{{ spoiler.id }}', '{{ spoiler.marca }}', '{{ spoiler.modelo }}')">Eliminar Producto</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function confirmDeletion(spoilerId, marca, modelo) {
        var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
        var message = "Desea eliminar " + marca + " " + modelo + "?";
        document.getElementById('modalMessage').innerText = message;
        var form = document.getElementById('deleteForm');
        form.action = "{% url 'products:delete_spoiler' 0 %}".replace('0', spoilerId);
        modal.show();
    }
</script>

{% endblock content %}