{% extends 'core/inner-page.html' %}
{% load static %}

{% block title %}
    Productos - Widebodys
{% endblock title %}

{% block content %}
<main id="main">

    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Widebodys</h2>
                <ol>
                    <li><a href="{% url 'core:home' %}">Inicio</a></li>
                    <li>Widebodys</li>
                </ol>
            </div>
        </div>
    </section>

    {% if user.is_authenticated and user.is_staff %}
    <div class="text-center" style="margin-top: 10px;">
        <a href="{% url 'products:create_widebody' %}" class="boton-create">Crear Producto</a>
    </div>
    {% endif %}
    
    <section class="inner-page">
        <div class="container">
            <form action="{% url 'products:widebody' %}" method="get"></form>
                <input type="text" name="q" placeholder="Buscar productos...">
                <button type="submit">Buscar</button>
            </form>
            <div class="row" style="padding-top: 25px;">
                {% for widebody in widebodys %}
                    <div class="col-md-4 mb-4">
                        <div class="card" style="border: 2px solid #343a40;">
                            <div class="card-body" style="padding: 0%;">
                                <div class="img-content" style="overflow: hidden; width: 100%; max-height: 40vh;">
                                    <img src="{{widebody.imagen.url}}" alt="Imagen del widebody" style="width: 100%; height: auto;">
                                </div>
                                <div class="product-information" style="padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);">
                                    <h5 class="card-title">{{ widebody.marca }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ widebody.modelo }}</h6>
                                    <p class="card-price" style="padding-bottom: 0px;">Precio: ${{ widebody.precio }}</p>
                                </div>
                                <div id="boton" style="text-align: center; padding-bottom: 13px;">
                                    <a href="{% url 'products:detalle_widebody' widebody.id %}" class="boton-create">Más detalles</a>
                                </div>
                            </div>
                            {% if user.is_authenticated and user.is_staff %}
                            <div style="border-top: 2px solid #343a40; padding: 13px 0px; text-align: center;">
                                <a href="{% url 'products:update_widebody' widebody.id %}" class="btn btn-primary">Modificar Producto</a>
                                <button type="button" class="btn btn-danger" onclick="confirmDeletion('{{ widebody.id }}', '{{ widebody.marca }}', '{{ widebody.modelo }}')">Eliminar Producto</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function confirmDeletion(widebodyId, marca, modelo) {
        var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
        var message = "Desea eliminar " + marca + " " + modelo + "?";
        document.getElementById('modalMessage').innerText = message;
        var form = document.getElementById('deleteForm');
        form.action = "{% url 'products:delete_widebody' 0 %}".replace('0', widebodyId);
        modal.show();
    }
</script>

{% endblock content %}