{% extends 'core/inner-page.html' %}
{% load static %}

{% block title %}
    Iniciar Sesión - CAA
{% endblock title %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
            <h2>Login</h2>
            <ol>
                <li><a href="{% url 'core:home' %}">Inicio</a></li>
                <li>Iniciar Sesión</a></li>
            </ol>
            </div>
    
        </div>
        </section><!-- End Breadcrumbs -->

    <section class="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0">                    
                    <form method="post">
                        {% csrf_token %}
                        <legend style="padding-bottom: 35px;">Datos de Usuario</legend>
                        {{ form.username.label_tag }}                       
                        <div class="contenedor-form-username">
                            {{ form.username }}
                        </div>                                                    
                        {{ form.password.label_tag }}
                        <div class="contenedor-form-username">
                            {{ form.password }}
                        </div>                                         
                        <input type="hidden" name="next" value="{% url 'core:home' %}">                        
                        <div class="text-center" style="margin-top: 20px;">
                            <button type="submit" class="boton-form-login ">Iniciar Sesion</button>
                            <a href="{% url 'core:home' %}">Cancelar</a>
                        </div>                       
                    </form>
                </div>           
                <div class="col-lg-6  mt-5 mt-lg-0 d-flex align-items-center justify-content-center">
                    <img src="{% static 'core/assets/img/R8-street.jpg' %}" class="img-fluid" alt="" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
